<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chinaunicom.PosStandardpos.dao.PosJposVMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chinaunicom.PosStandardpos.entity.PosJposV">
        <result column="POS_ID" property="posId" />
        <result column="POS_CATE_ID" property="posCateId" />
        <result column="CNAME" property="cname" />
        <result column="POS_SUBCATE_ID" property="posSubcateId" />
        <result column="SNAME" property="sname" />
        <result column="POS_NAME" property="posName" />
        <result column="PARENT_POS_NAME" property="parentPosName" />
        <result column="CORE_FLAG" property="coreFlag" />
        <result column="DEGREE_CODE" property="degreeCode" />
        <result column="EDUCATION_DEGREE" property="educationDegree" />
        <result column="LEVEL_CODE" property="levelCode" />
        <result column="ORG_LEVEL" property="orgLevel" />
        <result column="KSTR" property="kstr" />
        <result column="MFLAG" property="mflag" />
        <result column="ACTIVE_START_DATE" property="activeStartDate" />
        <result column="ACTIVE_END_DATE" property="activeEndDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        POS_ID, POS_CATE_ID, CNAME, POS_SUBCATE_ID, SNAME, POS_NAME, CORE_FLAG, DEGREE_CODE, EDUCATION_DEGREE, LEVEL_CODE, ORG_LEVEL, KSTR, MFLAG, ACTIVE_START_DATE, ACTIVE_END_DATE
    </sql>
    <select id="searchProvincePostList"  resultMap="BaseResultMap">
    <![CDATA[
			SELECT EPSV.POS_ID ,
	               EPSV.POS_NAME ,
	               EPSV.PARENT_POS_ID ,
	               EPSV.PARENT_POS_NAME ,
	               EPSV.POS_CATE_ID ,
	               EPSV.CNAME,
	               EPSV.POS_SUBCATE_ID ,
	               EPSV.SNAME ,
	               EPSV.LEVEL_CODE ,
	               EPSV.ORG_LEVEL ,
	               EPSV.CORE_FLAG ,
	               EPSV.DEGREE_CODE ,
	               EPSV.EDUCATION_DEGREE ,
	               EPSV.KSTR ,
	               date_format(EPSV.ACTIVE_START_DATE,'yyyy-MM-dd') as ACTIVE_START_DATE ,
		           date_format(EPSV.ACTIVE_END_DATE,'yyyy-MM-dd')as ACTIVE_END_DATE
			  FROM EHRCUC_POS_SPOS_V EPSV
			 where 1=1
			]]>
    <if test="posCateId !=null and posCateId != ''">
       and epsv.pos_cate_id = #{posCateId}
    </if>
        <if test="posSubcateId !=null and posSubcateId != ''">
       and   epsv.pos_subcate_id = #{posSubcateId}
    </if>
        <if test="posName !=null and posName != ''">
            and epsv.pos_name like concat("%", trim(#{posName}), "%")
        </if>


            and (epsv.level_code like concat('%', #{orgLevelS}, '%')
            or epsv.level_code like concat('%', #{orgLevelD}, '%')
            or epsv.level_code like concat('%', #{orgLevelX}, '%'))

        <if test="educationDegree !=null and educationDegree != ''">
            and   epsv.degree_code = #{educationDegree}
        </if>

        <if test="coreFlag !=null and coreFlag != ''">
            and   epsv.core_flag = #{coreFlag}
        </if>
        <if test="eFlag =='Y'">
            and SYSDATE BETWEEN IFNULL(EPSV.ACTIVE_START_DATE,SYSDATE - 1) AND IFNULL (EPSV.ACTIVE_END_DATE,SYSDATE + 1)
        </if>
        <if test="eFlag =='N'">
            and SYSDATE NOT BETWEEN IFNULL(EPSV.ACTIVE_START_DATE,SYSDATE - 1) AND IFNULL(EPSV.ACTIVE_END_DATE,SYSDATE + 1)
        </if>
        <if test="eFlag =='YN'">
            and 1 != 1
        </if>
        <if test="rangeId !=null and rangeId != ''">
            and epsv.org_id IN (SELECT RNG.ORGANIZATION_ID
            FROM HADES_RANGE_ORGANIZATION RNG
            WHERE RNG.RANGE_ID = #{rangeId})
        </if>
    </select>
    <select id="getPostListForExcel" resultMap="BaseResultMap">
        <![CDATA[
			SELECT EPSV.POS_ID ,
	               EPSV.POS_NAME ,
	               EPSV.PARENT_POS_ID ,
	               EPSV.PARENT_POS_NAME ,
	               EPSV.POS_CATE_ID ,
	               EPSV.CNAME ,
	               EPSV.POS_SUBCATE_ID ,
	               EPSV.SNAME ,
	               EPSV.LEVEL_CODE ,
	               EPSV.ORG_LEVEL ,
	               EPSV.CORE_FLAG ,
	               EPSV.DEGREE_CODE ,
	               EPSV.EDUCATION_DEGREE ,
	               EPSV.KSTR ,
	              date_format(EPSV.ACTIVE_START_DATE,'yyyy-MM-dd') as ACTIVE_START_DATE,
		           date_format(EPSV.ACTIVE_END_DATE,'yyyy-MM-dd') as ACTIVE_END_DATE
			  FROM EHRCUC_POS_SPOS_V EPSV
			 where 1=1
			]]>
        <if test="posCateId !=null and posCateId != ''">
            and epsv.pos_cate_id = #{posCateId}
        </if>
        <if test="posSubcateId !=null and posSubcateId != ''">
            and   epsv.pos_subcate_id = #{posSubcateId}
        </if>
        <if test="posName !=null and posName != ''">
            and epsv.pos_name like concat("%", trim(#{posName}), "%")
        </if>
        and (epsv.level_code like concat('%', #{orgLevelS}, '%')
        or epsv.level_code like concat('%', #{orgLevelD}, '%')
        or epsv.level_code like concat('%', #{orgLevelX}, '%'))


        <if test="educationDegree !=null and educationDegree != ''">
            and   epsv.degree_code = #{educationDegree}
        </if>

        <if test="coreFlag !=null and coreFlag != ''">
            and   epsv.core_flag = #{coreFlag}
        </if>
        <if test="eFlag =='Y'">
            and now() BETWEEN IFNULL(EPSV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL (EPSV.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='N'">
            and now() NOT BETWEEN IFNULL(EPSV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL(EPSV.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='YN'">
            and 1 != 1
        </if>
        <if test="rangeId !=null and rangeId != ''">
            and epsv.org_id IN (SELECT RNG.ORGANIZATION_ID
            FROM HADES_RANGE_ORGANIZATION RNG
            WHERE RNG.RANGE_ID = #{rangeId})
        </if>
    </select>

    <select id="searchGroupPostList" resultMap="BaseResultMap">
        <![CDATA[
			SELECT EPJV.POS_ID ,
		           EPJV.POS_NAME ,
		           EPJV.POS_CATE_ID ,
		           EPJV.CNAME ,
		           EPJV.POS_SUBCATE_ID ,
		           EPJV.SNAME  ,
		           EPJV.LEVEL_CODE  ,
		           EPJV.ORG_LEVEL  ,
		           EPJV.CORE_FLAG  ,
		           EPJV.DEGREE_CODE  ,
		           EPJV.EDUCATION_DEGREE  ,
		           EPJV.KSTR  ,

		           case when ifnull(C.SNUM, 0)=0 then '否' else '是' end,

		            date_format(EPJV.ACTIVE_START_DATE,'%Y-%m-%d %H:%i:%s') as ACTIVE_START_DATE,
		           date_format(EPJV.ACTIVE_END_DATE,'%Y-%m-%d %H:%i:%s')as ACTIVE_END_DATE
		    ]]>
        FROM EHRCUC_POS_JPOS_V EPJV  LEFT JOIN
        (SELECT EPS.PARENT_POS_ID, COUNT(1) SNUM
        FROM EHRCUC_POS_STANDARDPOS EPS
        WHERE 1 = 1
        AND EPS.POS_TYPE = 'S'
        <if test="eFlag =='Y'">
            and now() BETWEEN IFNULL(EPS.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL (EPS.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='N'">
            and now() NOT BETWEEN IFNULL(EPS.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL(EPS.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>

        <if test="eFlag =='YN'">
            and 1 != 1
        </if>

        <if test="rangeId !=null and rangeId != ''">
            and  EPS.org_id IN (SELECT RNG.ORGANIZATION_ID
            FROM HADES_RANGE_ORGANIZATION RNG
            WHERE RNG.RANGE_ID = #{rangeId})
        </if>

        GROUP BY EPS.PARENT_POS_ID) C
        on EPJV.POS_ID = C.PARENT_POS_ID
        where 1=1

        <if test="posCateId !=null and posCateId != ''">
            and   epjv.pos_cate_id = #{posCateId}
        </if>

        <if test="posSubcateId !=null and posSubcateId != ''">
            and   epjv.pos_subcate_id = #{posSubcateId}
        </if>
        <if test="posName !=null and posName != ''">
            and    epjv.pos_name like concat("%", trim(#{posName}), "%")
        </if>
        <if test="mFlag =='是'">
            AND IFNULL(C.SNUM, 0) > 0
        </if>

        <if test="mFlag =='否'">
            AND IFNULL(C.SNUM, 0) = 0
        </if>
        and (epjv.level_code like concat('%', #{orgLevelS}, '%')
        or epjv.level_code like concat('%', #{orgLevelD}, '%')
        or epjv.level_code like concat('%', #{orgLevelX}, '%'))
        <if test="educationDegree !=null and educationDegree != ''">
            and     epjv.degree_code = #{educationDegree}
        </if>
        <if test="coreFlag !=null and coreFlag != ''">
            and     epjv.core_flag = #{coreFlag}
        </if>

        <if test="eFlag =='Y'">
            and now() BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL (EPJV.ACTIVE_END_DATE, DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='N'">
            and now() NOT BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL(EPJV.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='YN'">
            and 1 != 1
        </if>

        order by EPJV.POS_ID
    </select>

    <select id="searchGroupPostListCount" resultType="java.lang.Integer">

        <![CDATA[
			SELECT count(1)
		    ]]>
        FROM EHRCUC_POS_JPOS_V EPJV
        LEFT JOIN
        (SELECT EPS.PARENT_POS_ID, COUNT(1) SNUM
        FROM EHRCUC_POS_STANDARDPOS EPS
        WHERE 1 = 1
        AND EPS.POS_TYPE = 'S'
        <if test="eFlag =='Y'">
            and now() BETWEEN IFNULL(EPS.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL (EPS.ACTIVE_END_DATE, DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='N'">
            and now() NOT BETWEEN IFNULL(EPS.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL(EPS.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='YN'">
            and 1 != 1
        </if>
        <if test="rangeId !=null and rangeId != ''">
           and EPS.org_id IN (SELECT RNG.ORGANIZATION_ID
            FROM HADES_RANGE_ORGANIZATION RNG
            WHERE RNG.RANGE_ID = #{rangeId})
        </if>

        GROUP BY EPS.PARENT_POS_ID) C
        ON EPJV.POS_ID = C.PARENT_POS_ID
        where 1=1
        <if test="posCateId !=null and posCateId != ''">
            and   epjv.pos_cate_id = #{posCateId}
        </if>
        <if test="posSubcateId !=null and posSubcateId != ''">
            and   epjv.pos_subcate_id = #{posSubcateId}
        </if>
        <if test="posName !=null and posName != ''">
            and    epjv.pos_name like concat("%", trim(#{posName}), "%")
        </if>
        <if test="mFlag =='是'">
            AND IFNULL(C.SNUM, 0) > 0
        </if>

        <if test="mFlag =='否'">
            AND IFNULL(C.SNUM, 0) = 0
        </if>
        and (epjv.level_code like concat('%', #{orgLevelS}, '%')
        or epjv.level_code like concat('%', #{orgLevelD}, '%')
        or epjv.level_code like concat('%', #{orgLevelX}, '%'))
        <if test="educationDegree !=null and educationDegree != ''">
            and     epjv.degree_code = #{educationDegree}
        </if>
        <if test="coreFlag !=null and coreFlag != ''">
            and     epjv.core_flag = #{coreFlag}
        </if>
        <if test="eFlag =='Y'">
            and now() BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL (EPJV.ACTIVE_END_DATE, DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='N'">
            and now() NOT BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL(EPJV.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='YN'">
            and 1 != 1
        </if>

    </select>

    <select id="getPostListForExcell" resultMap="BaseResultMap">

			SELECT EPJV.POS_ID ,
		           EPJV.POS_NAME  ,
		           EPJV.POS_CATE_ID  ,
		           EPJV.CNAME  ,
		           EPJV.POS_SUBCATE_ID  ,
		           EPJV.SNAME  ,
		           EPJV.LEVEL_CODE  ,
		           EPJV.ORG_LEVEL  ,
		           EPJV.CORE_FLAG  ,
		           EPJV.DEGREE_CODE  ,
		           EPJV.EDUCATION_DEGREE  ,
		           EPJV.KSTR  ,
                    case when ifnull(C.SNUM, 0)=0 then '否' else '是' end,
                   date_format(EPJV.ACTIVE_START_DATE,'%Y-%m-%d %H:%i:%s') as ACTIVE_START_DATE,
		           date_format(EPJV.ACTIVE_END_DATE,'%Y-%m-%d %H:%i:%s')as ACTIVE_END_DATE


        FROM EHRCUC_POS_JPOS_V EPJV
        left join
        (SELECT EPS.PARENT_POS_ID, COUNT(1) SNUM
        FROM EHRCUC_POS_STANDARDPOS EPS
        WHERE 1 = 1
        AND EPS.POS_TYPE = 'S'
        GROUP BY EPS.PARENT_POS_ID) C
        on EPJV.POS_ID = C.PARENT_POS_ID
        where 1=1

        <if test="posCateId !=null and posCateId != ''">
            and   epjv.pos_cate_id = #{posCateId}
        </if>
        <if test="posSubcateId !=null and posSubcateId != ''">
            and   epjv.pos_subcate_id = #{posSubcateId}
        </if>
        <if test="posName !=null and posName != ''">
            and    epjv.pos_name like concat("%", trim(#{posName}), "%")
        </if>
        <if test="mFlag !=null and mFlag != ''">
            and    epjv.mflag = #{mFlag}
        </if>

        <if test="educationDegree !=null and educationDegree != ''">
            and     epjv.degree_code = #{educationDegree}
        </if>
        <if test="coreFlag !=null and coreFlag != ''">
            and     epjv.core_flag = #{coreFlag}
        </if>
        <if test="eFlag =='Y'">
            and now() BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL (EPJV.ACTIVE_END_DATE, DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='N'">
            and now() NOT BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL(EPJV.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
        </if>
        <if test="eFlag =='YN'">
            and 1 != 1
        </if>
        <if test="levelType !=null and levelType != ''">
            and     epjv.level_code like concat("%", trim(#{$levelType$}), "%")
        </if>

        order by EPJV.POS_ID
    </select>
<select id="getPostListForExcel2" resultMap="BaseResultMap">
    SELECT EPJV.POS_ID  ,
    EPJV.POS_NAME  ,
    EPJV.POS_CATE_ID  ,
    EPJV.CNAME  ,
    EPJV.POS_SUBCATE_ID  ,
    EPJV.SNAME  ,
    EPJV.LEVEL_CODE  ,
    EPJV.ORG_LEVEL  ,
    EPJV.CORE_FLAG  ,
    EPJV.DEGREE_CODE  ,
    EPJV.EDUCATION_DEGREE  ,
    EPJV.KSTR  ,

    case when ifnull(C.SNUM, 0)=0 then '否' else '是' end,

    date_format(EPJV.ACTIVE_START_DATE,'%Y-%m-%d %H:%i:%s') as ACTIVE_START_DATE,
    date_format(EPJV.ACTIVE_END_DATE,'%Y-%m-%d %H:%i:%s')as ACTIVE_END_DATE

    FROM EHRCUC_POS_JPOS_V EPJV left join
    (SELECT EPS.PARENT_POS_ID, COUNT(1) SNUM
    FROM EHRCUC_POS_STANDARDPOS EPS
    WHERE 1 = 1
    AND EPS.POS_TYPE = 'S'
    <if test="eFlag =='Y'">
        and now() BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL (EPJV.ACTIVE_END_DATE, DATE_ADD( now( ), INTERVAL 1 DAY ))
    </if>
    <if test="eFlag =='N'">
        and now() NOT BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL(EPJV.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
    </if>
    <if test="eFlag =='YN'">
        and 1 != 1
    </if>
    <if test="rangeId !=null and rangeId != ''">
        and EPS.org_id IN (SELECT RNG.ORGANIZATION_ID
        FROM HADES_RANGE_ORGANIZATION RNG
        WHERE RNG.RANGE_ID = #{rangeId})
    </if>

    GROUP BY EPS.PARENT_POS_ID) C
    on EPJV.POS_ID = C.PARENT_POS_ID
    where 1=1


    <if test="posCateId !=null and posCateId != ''">
        and   epjv.pos_cate_id = #{posCateId}
    </if>
    <if test="posSubcateId !=null and posSubcateId != ''">
        and   epjv.pos_subcate_id = #{posSubcateId}
    </if>
    <if test="posName !=null and posName != ''">
        and    epjv.pos_name like concat("%", trim(#{posName}), "%")
    </if>
    <if test="mFlag =='是'">
        AND IFNULL(C.SNUM, 0) > 0
    </if>

    <if test="mFlag =='否'">
        AND IFNULL(C.SNUM, 0) = 0
    </if>
    and (epjv.level_code like concat('%', #{orgLevelS}, '%')
    or epjv.level_code like concat('%', #{orgLevelD}, '%')
    or epjv.level_code like concat('%', #{orgLevelX}, '%'))
    <if test="educationDegree !=null and educationDegree != ''">
        and     epjv.degree_code = #{educationDegree}
    </if>
    <if test="coreFlag !=null and coreFlag != ''">
        and     epjv.core_flag = #{coreFlag}
    </if>
    <if test="eFlag =='Y'">
        and now() BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL (EPJV.ACTIVE_END_DATE, DATE_ADD( now( ), INTERVAL 1 DAY ))
    </if>
    <if test="eFlag =='N'">
        and now() NOT BETWEEN IFNULL(EPJV.ACTIVE_START_DATE,date_sub( now( ) , INTERVAL  1 DAY )) AND IFNULL(EPJV.ACTIVE_END_DATE,DATE_ADD( now( ), INTERVAL 1 DAY ))
    </if>
    <if test="eFlag =='YN'">
        and 1 != 1
    </if>
    order by EPJV.POS_ID


</select>
</mapper>
