<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chinaunicom.PosStandardpos.dao.PosTreeVMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chinaunicom.PosStandardpos.entity.PosTreeV">
        <result column="SKID" property="skid" />
        <result column="SKNAME" property="skname" />
        <result column="KID" property="kid" />
        <result column="KNAME" property="kname" />
        <result column="KCODE" property="kcode" />
        <result column="ATTRIBUTE1" property="attribute1" />
        <result column="ATTRIBUTE2" property="attribute2" />
        <result column="ATTRIBUTE3" property="attribute3" />
        <result column="ATTRIBUTE4" property="attribute4" />
        <result column="ATTRIBUTE5" property="attribute5" />
        <result column="ATTRIBUTE6" property="attribute6" />
        <result column="ATTRIBUTE7" property="attribute7" />
        <result column="ATTRIBUTE8" property="attribute8" />
        <result column="ATTRIBUTE9" property="attribute9" />
        <result column="ATTRIBUTE10" property="attribute10" />
        <result column="MID" property="mid" />
        <result column="MNAME" property="mname" />
        <result column="SID" property="sid" />
        <result column="SNAME" property="sname" />
        <result column="CID" property="cid" />
        <result column="CNAME" property="cname" />
        <result column="ULEVEL" property="ulevel" />
        <result column="SKSTR" property="skstr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SKID, SKNAME, KID, KNAME, KCODE, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, MID, MNAME, SID, SNAME, CID, CNAME, ULEVEL, SKSTR
    </sql>
    <select id="getSubcateList" resultMap="BaseResultMap" >
			<![CDATA[
				SELECT DISTINCT V.SID ,
								V.SNAME
					FROM EHRCUC_POS_TREE_V V
					where 1=1
					AND V.CID = ifnull(#{posCateId},V.CID)
			]]>
		</select>
</mapper>
