<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chinaunicom.duty.dao.PosPosdesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chinaunicom.duty.entity.PosPosdes">
        <id column="POSDES_ID" property="posdesId" />
        <result column="POS_NAME" property="posName" />
        <result column="ORG_ID" property="orgId" />
        <result column="POS_CATE_ID" property="posCateId" />
        <result column="POS_SUBCATE_ID" property="posSubcateId" />
        <result column="MAJOR_ID" property="majorId" />
        <result column="JOB_ID" property="jobId" />
        <result column="POS_LEVEL_LOW" property="posLevelLow" />
        <result column="POS_LEVEL_HIGH" property="posLevelHigh" />
        <result column="ESTABLISHMENT" property="establishment" />
        <result column="VERSION_ID" property="versionId" />
        <result column="ACTIVE_START_DATE" property="activeStartDate" />
        <result column="ACTIVE_END_DATE" property="activeEndDate" />
        <result column="SUPERIOR_POS_NAME" property="superiorPosName" />
        <result column="INFERIOR_POS_NAME" property="inferiorPosName" />
        <result column="UPSTREAM_POS_NAME" property="upstreamPosName" />
        <result column="DOWNSTREAM_POS_NAME" property="downstreamPosName" />
        <result column="RELATION_ID" property="relationId" />
        <result column="EDUCATION_DEGREE" property="educationDegree" />
        <result column="PRO_KNOWLEDGE" property="proKnowledge" />
        <result column="PRO_KNOWLEDGE_MAJOR" property="proKnowledgeMajor" />
        <result column="PRO_KNOWLEDGE_LEVEL" property="proKnowledgeLevel" />
        <result column="PRO_SKILL" property="proSkill" />
        <result column="PRO_SKILL_CATE" property="proSkillCate" />
        <result column="PRO_SKILL_LEVEL" property="proSkillLevel" />
        <result column="AGE_LOW" property="ageLow" />
        <result column="AGE_HIGH" property="ageHigh" />
        <result column="JOB_LEVEL_JT" property="jobLevelJt" />
        <result column="JOB_LEVEL_JT_YEAR" property="jobLevelJtYear" />
        <result column="JOB_LEVEL_S" property="jobLevelS" />
        <result column="JOB_LEVEL_S_YEAR" property="jobLevelSYear" />
        <result column="JOB_LEVEL_DS" property="jobLevelDs" />
        <result column="JOB_LEVEL_DS_YEAR" property="jobLevelDsYear" />
        <result column="JOB_LEVEL_NOLIMIT" property="jobLevelNolimit" />
        <result column="JOB_LEVEL_NOLIMIT_YEAR" property="jobLevelNolimitYear" />
        <result column="JOB_CATE" property="jobCate" />
        <result column="JOB_CATE_LEVEL" property="jobCateLevel" />
        <result column="PRO_QUALIFICATION" property="proQualification" />
        <result column="PRO_QUALIFICATION_LEVEL" property="proQualificationLevel" />
        <result column="OTHER_DEMAND" property="otherDemand" />
        <result column="KPI" property="kpi" />
        <result column="POST" property="post" />
        <result column="POST_LEVEL" property="postLevel" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATION_DATE" property="creationDate" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" />
        <result column="ATTRIBUTE1" property="attribute1" />
        <result column="ATTRIBUTE2" property="attribute2" />
        <result column="ATTRIBUTE3" property="attribute3" />
        <result column="ATTRIBUTE4" property="attribute4" />
        <result column="ATTRIBUTE5" property="attribute5" />
        <result column="ATTRIBUTE6" property="attribute6" />
        <result column="ATTRIBUTE7" property="attribute7" />
        <result column="ATTRIBUTE8" property="attribute8" />
        <result column="ATTRIBUTE9" property="attribute9" />
        <result column="ATTRIBUTE10" property="attribute10" />
        <result column="POS_ID" property="posId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        POSDES_ID, POS_NAME, ORG_ID, POS_CATE_ID, POS_SUBCATE_ID, MAJOR_ID, JOB_ID, POS_LEVEL_LOW, POS_LEVEL_HIGH, ESTABLISHMENT, VERSION_ID, ACTIVE_START_DATE, ACTIVE_END_DATE, SUPERIOR_POS_NAME, INFERIOR_POS_NAME, UPSTREAM_POS_NAME, DOWNSTREAM_POS_NAME, RELATION_ID, EDUCATION_DEGREE, PRO_KNOWLEDGE, PRO_KNOWLEDGE_MAJOR, PRO_KNOWLEDGE_LEVEL, PRO_SKILL, PRO_SKILL_CATE, PRO_SKILL_LEVEL, AGE_LOW, AGE_HIGH, JOB_LEVEL_JT, JOB_LEVEL_JT_YEAR, JOB_LEVEL_S, JOB_LEVEL_S_YEAR, JOB_LEVEL_DS, JOB_LEVEL_DS_YEAR, JOB_LEVEL_NOLIMIT, JOB_LEVEL_NOLIMIT_YEAR, JOB_CATE, JOB_CATE_LEVEL, PRO_QUALIFICATION, PRO_QUALIFICATION_LEVEL, OTHER_DEMAND, KPI, POST, POST_LEVEL, CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, POS_ID
    </sql>

    <select id="getList"  resultType="java.util.Map">
        SELECT ifnull(EPP.POSDES_ID,'') as POSDES_ID,
        ifnull (EPP.POS_NAME,'') as POS_NAME,
        ifnull(EOA.NAME,'')as NAME ,
        ifnull(EPE.ELEMENT_NAME,'')as ELEMENT_NAME ,
        ifnull(EPP.POS_LEVEL_LOW,'')as POS_LEVEL_LOW,
        ifnull(EPP.POS_LEVEL_HIGH,'')as POS_LEVEL_HIGH,
        ifnull(EPP.ACTIVE_START_DATE,'')as ACTIVE_START_DATE,
        ifnull(EPP.ACTIVE_END_DATE,'')as ACTIVE_END_DATE
        FROM  EHRCUC_POS_ELEMENT EPE,
        EHRCUC_POS_POSDES EPP,
        HADES_RANGE_ORGANIZATION RNG
        <if test="personOrgId == null">
            	,EHRBASE_ORGANIZATION_ALL EOA
            WHERE 1=1
            AND RNG.ORGANIZATION_ID = EOA.ORGANIZATION_ID
            AND RNG.RANGE_ID = #{rangeId}
            AND EOA.ORGANIZATION_ID = EPP.ORG_ID
        </if>
        <if test="personOrgId !=null and personOrgId != ''">
            ,(select ORGANIZATION_ID,NAME from EHRBASE_ORGANIZATION_ALL where ORGANIZATION_ID in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            ) EOA
            WHERE 1=1
            AND RNG.ORGANIZATION_ID = EOA.ORGANIZATION_ID
            AND RNG.RANGE_ID = #{rangeId}
            AND EOA.ORGANIZATION_ID = EPP.ORG_ID
        </if>
        <if test="posCateId !=null and posCateId != ''">
            AND EPP.POS_CATE_ID = #{posCateId}
        </if>
        <if test="posLevel !=null and posLevel != ''">
            #{posLevel} BETWEEN EPP.POS_LEVEL_LOW AND EPP.POS_LEVEL_HIGH
        </if>
        <if test="keyrespId !=null and keyrespId != ''">
            AND EXISTS (SELECT 1
            FROM EHRCUC_POS_POSDES_KEYRESP EPPK
            WHERE EPPK.RELATION_ID = EPP.RELATION_ID
            AND EPPK.KEYRESP_ID = #{keyrespId})
        </if>
        AND EPP.POS_CATE_ID = EPE.ELEMENT_ID
        <if test="searchDate == null">
            AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN
            IFNULL(EPP.ACTIVE_START_DATE,date_sub(now(),INTERVAL 1 DAY )) and IFNULL(EPP.ACTIVE_END_DATE,DATE_ADD( sysdate(), INTERVAL 1 DAY ))
        </if>
        <if test="posName !=null and posName != ''">
            AND   EPP.POS_NAME LIKE concat("%", #{posName}, "%")
        </if>
        <if test="searchDate !=null and searchDate != ''">
            AND   DATE_FORMAT(#{searchDate},'%Y-%m-%d' ) BETWEEN
            IFNULL(EPP.ACTIVE_START_DATE,date_sub(now(),INTERVAL 1 DAY )) and IFNULL(EPP.ACTIVE_END_DATE,DATE_ADD( sysdate(), INTERVAL 1 DAY ))
        </if>
        ORDER BY
        CONVERT(NAME USING gbk) ,CONVERT(ELEMENT_NAME USING gbk),CONVERT(POS_NAME USING gbk)
    </select>



    <select id="getCount"  resultType="Integer">
        SELECT count(1)
        FROM   EHRCUC_POS_ELEMENT EPE,
        EHRCUC_POS_POSDES EPP,
        HADES_RANGE_ORGANIZATION RNG
        <if test="personOrgId == null">
            ,EHRBASE_ORGANIZATION_ALL EOA
            WHERE 1=1
            AND RNG.ORGANIZATION_ID = EOA.ORGANIZATION_ID
            AND RNG.RANGE_ID = #{rangeId}
            AND EOA.ORGANIZATION_ID = EPP.ORG_ID
        </if>
        <if test="personOrgId !=null and personOrgId != ''">
            ,(select ORGANIZATION_ID,NAME from EHRBASE_ORGANIZATION_ALL where ORGANIZATION_ID in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            ) EOA
            WHERE 1=1
            AND RNG.ORGANIZATION_ID = EOA.ORGANIZATION_ID
            AND RNG.RANGE_ID = #{rangeId}
            AND EOA.ORGANIZATION_ID = EPP.ORG_ID
        </if>
        <if test="posCateId !=null and posCateId != ''">
            AND EPP.POS_CATE_ID = #{posCateId}
        </if>
        <if test="posLevel !=null and posLevel != ''">
            #{posLevel} BETWEEN EPP.POS_LEVEL_LOW AND EPP.POS_LEVEL_HIGH
        </if>
        <if test="keyrespId !=null and keyrespId != ''">
            AND EXISTS (SELECT 1
            FROM EHRCUC_POS_POSDES_KEYRESP EPPK
            WHERE EPPK.RELATION_ID = EPP.RELATION_ID
            AND EPPK.KEYRESP_ID = #{keyrespId})
        </if>
        AND EPP.POS_CATE_ID = EPE.ELEMENT_ID
        <if test="searchDate == null">
            AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN
            IFNULL(EPP.ACTIVE_START_DATE,date_sub(now(),INTERVAL 1 DAY )) and IFNULL(EPP.ACTIVE_END_DATE,DATE_ADD( sysdate(), INTERVAL 1 DAY ))
        </if>
        <if test="posName !=null and posName != ''">
            AND   EPP.POS_NAME LIKE concat("%", #{posName}, "%")
        </if>
        <if test="searchDate !=null and searchDate != ''">
            AND   DATE_FORMAT(#{searchDate},'%Y-%m-%d' ) BETWEEN
            IFNULL(EPP.ACTIVE_START_DATE,date_sub(now(),INTERVAL 1 DAY )) and IFNULL(EPP.ACTIVE_END_DATE,DATE_ADD( sysdate(), INTERVAL 1 DAY ))
        </if>
    </select>

    <select id="selectPosKeyElement"  resultType="java.util.Map">
         SELECT
                    ifnull(T.keyresp_Id,'') as elementId,
                    ifnull(T.keyresp_Name,'') as elementName,
                ifnull(T.MNAME,'') AS ATTRIBUTE9,
                ifnull(T.KNAME,'') AS attribute10 from

								( SELECT K.KID as keyresp_Id,
								CONCAT(C.ELEMENT_NAME,'.',S.SNAME,'.',M.MNAME,'.',K.KNAME) as keyresp_Name,
			        	K.KNAME AS KNAME,
			        	M.MNAME
			          FROM (SELECT EPE.ELEMENT_ID         KID,
			                       EPE.ELEMENT_NAME       KNAME,
			                       EPES.ELEMENT_ID_PARENT MID
			                  FROM EHRCUC_POS_ELEMENT           EPE,
			                       EHRCUC_POS_ELEMENT_STRUCTURE EPES,
			                       EHRCUC_POS_VER               EPV
			                 WHERE 1 = 1
			                   AND EPE.ELEMENT_TYPE = '40'
			                   AND EPE.ELEMENT_ID = EPES.ELEMENT_ID_CHILD
			                   AND EPES.VERSION_ID = EPV.VERSION_ID
			                   AND EPV.VERSION_CATE = 'P'
							   AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN EPV.EFFETIVE_START_DATE AND IFNULL(EPV.EFFETIVE_END_DATE,NOW())
                                <if test="elementName !=null and elementName != ''">
                                                      and EPE.ELEMENT_NAME like concat("%", #{elementName}, "%")
                                </if>
                            ) K,
                            (SELECT EPE.ELEMENT_ID         MID,
                            EPE.ELEMENT_NAME       MNAME,
                            EPES.ELEMENT_ID_PARENT SID
                            FROM EHRCUC_POS_ELEMENT           EPE,
                            EHRCUC_POS_ELEMENT_STRUCTURE EPES,
                            EHRCUC_POS_VER               EPV
                            WHERE 1 = 1
                            AND EPE.ELEMENT_TYPE = '30'
                            AND EPE.ELEMENT_ID = EPES.ELEMENT_ID_CHILD
                            AND EPES.VERSION_ID = EPV.VERSION_ID
                            AND EPV.VERSION_CATE = 'P'
                            AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN EPV.EFFETIVE_START_DATE AND IFNULL(EPV.EFFETIVE_END_DATE,NOW()))M,
                            (SELECT EPE.ELEMENT_ID         SID,
                            EPE.ELEMENT_NAME       SNAME,
                            EPES.ELEMENT_ID_PARENT CID
                            FROM EHRCUC_POS_ELEMENT           EPE,
                            EHRCUC_POS_ELEMENT_STRUCTURE EPES,
                            EHRCUC_POS_VER               EPV
                            WHERE 1 = 1
                            AND EPE.ELEMENT_TYPE = '20'
                            AND EPE.ELEMENT_ID = EPES.ELEMENT_ID_CHILD
                            AND EPES.VERSION_ID = EPV.VERSION_ID
                            AND EPV.VERSION_CATE = 'P'
                            AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN EPV.EFFETIVE_START_DATE AND IFNULL(EPV.EFFETIVE_END_DATE,NOW())) S,
                            EHRCUC_POS_ELEMENT C
                            WHERE 1 = 1
                            AND K.MID = M.MID
                            AND M.SID = S.SID
                            AND S.CID = C.ELEMENT_ID
        order by CONVERT(CONCAT(C.ELEMENT_NAME,'.',S.SNAME,'.',M.MNAME,'.',K.KNAME) USING gbk)
        <if test="flexValueId !=null and flexValueId != ''">
            and C.ELEMENT_ID = #{flexValueId}
        </if>
        <if test="attribute10 !=null and attribute10 != ''">
            and M.MID = #{attribute10}
        </if>
        ) T

    </select>

    <select id="selectProfessionList"  resultType="java.util.Map">
       SELECT DISTINCT  IFNULL(MNAME,'') AS elementName,IFNULL(MID,'') AS elementId FROM ehrcuc_pos_tree_v  order by CONVERT(elementName USING gbk)
    </select>

    <select id="selectPosKeyElementCount"  resultType="Integer">
       select count(1) FROM (SELECT EPE.ELEMENT_ID         KID,
                       EPE.ELEMENT_NAME       KNAME,
                       EPES.ELEMENT_ID_PARENT MID
                  FROM EHRCUC_POS_ELEMENT           EPE,
                       EHRCUC_POS_ELEMENT_STRUCTURE EPES,
                       EHRCUC_POS_VER               EPV
                 WHERE 1 = 1
                   AND EPE.ELEMENT_TYPE = '40'
                   AND EPE.ELEMENT_ID = EPES.ELEMENT_ID_CHILD
                   AND EPES.VERSION_ID = EPV.VERSION_ID
                   AND EPV.VERSION_CATE = 'P'
                   AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN EPV.EFFETIVE_START_DATE AND IFNULL(EPV.EFFETIVE_END_DATE,NOW())
        <if test="elementName !=null and elementName != ''">
            AND EPE.ELEMENT_NAME like concat("%", #{elementName}, "%")
        </if>
        ) K,
        (SELECT EPE.ELEMENT_ID         MID,
        EPE.ELEMENT_NAME       MNAME,
        EPES.ELEMENT_ID_PARENT SID
        FROM EHRCUC_POS_ELEMENT           EPE,
        EHRCUC_POS_ELEMENT_STRUCTURE EPES,
        EHRCUC_POS_VER               EPV
        WHERE 1 = 1
        AND EPE.ELEMENT_TYPE = '30'
        AND EPE.ELEMENT_ID = EPES.ELEMENT_ID_CHILD
        AND EPES.VERSION_ID = EPV.VERSION_ID
        AND EPV.VERSION_CATE = 'P'
        AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN EPV.EFFETIVE_START_DATE AND IFNULL(EPV.EFFETIVE_END_DATE,NOW()))M,
        (SELECT EPE.ELEMENT_ID         SID,
        EPE.ELEMENT_NAME       SNAME,
        EPES.ELEMENT_ID_PARENT CID
        FROM EHRCUC_POS_ELEMENT           EPE,
        EHRCUC_POS_ELEMENT_STRUCTURE EPES,
        EHRCUC_POS_VER               EPV
        WHERE 1 = 1
        AND EPE.ELEMENT_TYPE = '20'
        AND EPE.ELEMENT_ID = EPES.ELEMENT_ID_CHILD
        AND EPES.VERSION_ID = EPV.VERSION_ID
        AND EPV.VERSION_CATE = 'P'
        AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN EPV.EFFETIVE_START_DATE AND IFNULL(EPV.EFFETIVE_END_DATE,NOW())) S,
        EHRCUC_POS_ELEMENT C
        WHERE 1 = 1
        AND K.MID = M.MID
        AND M.SID = S.SID
        AND S.CID = C.ELEMENT_ID
        <if test="flexValueId !=null and flexValueId != ''">
            AND C.ELEMENT_ID = #{flexValueId}
        </if>
        <if test="attribute10 !=null and attribute10 != ''">
            AND M.MID = #{attribute10}
        </if>

    </select>



    <select id="selectInstructions"  resultType="java.util.Map">
         SELECT
        ifnull(POSDES_ID,'') as POSDES_ID,
        ifnull(POS_NAME,'') as POS_NAME,
        ifnull(ORG_ID,'') as ORG_ID,
        ifnull((SELECT NAME FROM EHRBASE_ORGANIZATION_ALL ORG WHERE ORGANIZATION_ID = ORG_ID ),'') as orgName,
        ifnull((SELECT EPE.ELEMENT_NAME FROM EHRCUC_POS_ELEMENT EPE WHERE EPE.ELEMENT_ID = POS_CATE_ID ),'') as flexValue,
        ifnull(POS_SUBCATE_ID,'') as POS_SUBCATE_ID,
        ifnull(MAJOR_ID,'') as MAJOR_ID,
        ifnull(JOB_ID,'') as JOB_ID,
        ifnull((SELECT FFV.FLEX_VALUE
        FROM FND_FLEX_VALUE_SETS FFVS, FND_FLEX_VALUES FFV
        WHERE 1 = 1
        AND FFV.FLEX_VALUE_SET_ID = FFVS.FLEX_VALUE_SET_ID
        AND FFVS.FLEX_VALUE_SET_NAME = 'CNC_JOB_JOBTITLE'
        AND FFV.ENABLED_FLAG = 'Y'
        AND FFV.FLEX_VALUE_ID = JOB_ID
        AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') BETWEEN ifnull(FFV.START_DATE_ACTIVE, date_sub(now(),INTERVAL 1 DAY )) AND
        ifnull(FFV.END_DATE_ACTIVE, DATE_ADD( sysdate(), INTERVAL 1 DAY ))),'') as jobName,
        ifnull(POS_LEVEL_LOW,'') as POS_LEVEL_LOW,
        ifnull(POS_LEVEL_HIGH,'') as POS_LEVEL_HIGH,
        ifnull(VERSION_ID,'') as VERSION_ID,
        ifnull(ESTABLISHMENT,'') as ESTABLISHMENT,
        ifnull(SUPERIOR_POS_NAME,'') as SUPERIOR_POS_NAME,
        ifnull(INFERIOR_POS_NAME,'') as INFERIOR_POS_NAME,
        ifnull(UPSTREAM_POS_NAME,'') as VERSION_ID,
        ifnull(DOWNSTREAM_POS_NAME,'') as DOWNSTREAM_POS_NAME,
        ifnull(RELATION_ID,'') as RELATION_ID,
        ifnull(EDUCATION_DEGREE,'') as EDUCATION_DEGREE,
        ifnull(PRO_KNOWLEDGE,'') as PRO_KNOWLEDGE,
        ifnull(PRO_KNOWLEDGE_MAJOR,'') as PRO_KNOWLEDGE_MAJOR,
        ifnull(PRO_KNOWLEDGE_LEVEL,'') as PRO_KNOWLEDGE_LEVEL,
        ifnull(PRO_SKILL,'') as PRO_SKILL,
        ifnull(PRO_SKILL_CATE,'') as PRO_SKILL_CATE,
        ifnull(PRO_SKILL_LEVEL,'') as PRO_SKILL_LEVEL,
        ifnull(AGE_LOW,'') as AGE_LOW,
        ifnull(AGE_HIGH,'') as AGE_HIGH,
        ifnull(JOB_LEVEL_JT,'') as JOB_LEVEL_JT,
        ifnull(JOB_LEVEL_JT_YEAR,'') as JOB_LEVEL_JT_YEAR,
        ifnull(JOB_LEVEL_S,'') as JOB_LEVEL_S,
        ifnull(JOB_LEVEL_S_YEAR,'') as JOB_LEVEL_S_YEAR,
        ifnull(JOB_LEVEL_DS,'') as JOB_LEVEL_DS,
        ifnull(JOB_LEVEL_DS_YEAR,'') as JOB_LEVEL_DS_YEAR,
        ifnull(JOB_LEVEL_NOLIMIT,'') as PRO_KNOWLEDGE,
        ifnull(JOB_LEVEL_NOLIMIT_YEAR,'') as JOB_LEVEL_NOLIMIT_YEAR,
        ifnull(JOB_CATE,'') as JOB_CATE,
        ifnull((SELECT MEANING FROM HR_LOOKUPS WHERE LOOKUP_TYPE = 'CNC_WORK_TYPE' AND ENABLED_FLAG = 'Y'AND LOOKUP_CODE = JOB_CATE),'') as jobCateName,
        ifnull(JOB_CATE_LEVEL,'') as JOB_CATE_LEVEL,
        ifnull((SELECT MEANING FROM HR_LOOKUPS WHERE LOOKUP_TYPE = 'CNC_SKILL_LEVEL' AND ENABLED_FLAG = 'Y' AND LOOKUP_CODE = JOB_CATE_LEVEL),'') as jobCateLevelName,
        ifnull(POST,'') as POST,
        ifnull(POST_LEVEL,'') as POST_LEVEL,
        ifnull((SELECT XL.MEANING || '.' || MC.MEANING
        FROM HR_LOOKUPS XL, HR_LOOKUPS MC, HR_LOOKUPS DJ
        WHERE 1 = 1
        AND XL.LOOKUP_TYPE = 'CNC_ZYJSZGXL_1109'
        AND XL.ENABLED_FLAG = 'Y'
        AND MC.LOOKUP_TYPE = 'CNC_ZYJSZGMC_1109'
        AND MC.ENABLED_FLAG = 'Y'
        AND DJ.LOOKUP_TYPE = 'CNC_TECH_LEVEL'
        AND DJ.ENABLED_FLAG = 'Y'
        AND SUBSTR(MC.LOOKUP_CODE, 1, 3) = XL.LOOKUP_CODE
        AND (case 	when	DJ.LOOKUP_CODE='AD' then 10
        when 	 DJ.LOOKUP_CODE='AD' then 10
        when 	 DJ.LOOKUP_CODE='SR' then 20
        when 	 DJ.LOOKUP_CODE='MD' then 30
        when 	 DJ.LOOKUP_CODE='JR' then 40
        when 	 DJ.LOOKUP_CODE='GN' then 50
        end	) = SUBSTR(MC.LOOKUP_CODE, 4, 2)
        AND MC.LOOKUP_CODE = POST),'') as postName,
        ifnull((SELECT DJ.MEANING
        FROM HR_LOOKUPS XL, HR_LOOKUPS MC, HR_LOOKUPS DJ
        WHERE 1 = 1
        AND XL.LOOKUP_TYPE = 'CNC_ZYJSZGXL_1109'
        AND XL.ENABLED_FLAG = 'Y'
        AND MC.LOOKUP_TYPE = 'CNC_ZYJSZGMC_1109'
        AND MC.ENABLED_FLAG = 'Y'
        AND DJ.LOOKUP_TYPE = 'CNC_TECH_LEVEL'
        AND DJ.ENABLED_FLAG = 'Y'
        AND SUBSTR(MC.LOOKUP_CODE, 1, 3) = XL.LOOKUP_CODE
        AND (case 	when	DJ.LOOKUP_CODE='AD' then 10
        when 	 DJ.LOOKUP_CODE='AD' then 10
        when 	 DJ.LOOKUP_CODE='SR' then 20
        when 	 DJ.LOOKUP_CODE='MD' then 30
        when 	 DJ.LOOKUP_CODE='JR' then 40
        when 	 DJ.LOOKUP_CODE='GN' then 50
        end	) = SUBSTR(MC.LOOKUP_CODE, 4, 2)
        AND MC.LOOKUP_CODE = POST),'') as postLevelName,
        ifnull(OTHER_DEMAND,'') as OTHER_DEMAND,
        ifnull(KPI,'') as KPI,
        ifnull(CREATED_BY,'') as CREATED_BY,
        ifnull(CREATION_DATE,'') as CREATION_DATE,
        ifnull(LAST_UPDATED_BY,'') as LAST_UPDATED_BY,
        ifnull(LAST_UPDATE_DATE,'') as LAST_UPDATE_DATE,
        ifnull(PRO_QUALIFICATION,'') as PRO_QUALIFICATION,
        ifnull(PRO_QUALIFICATION_LEVEL,'') as PRO_QUALIFICATION_LEVEL,
        ifnull((SELECT element_name  FROM ehrcuc_pos_element WHERE element_type = 30 and element_id = PRO_QUALIFICATION),'') as proQualificationName,
        ifnull((SELECT MEANING FROM HADES_LOOKUPS WHERE LOOKUP_TYPE = 'EHRCUC_MAJOR_LEVEL' AND LOOKUP_CODE = PRO_QUALIFICATION_LEVEL),'') as proQualificationLevelName,
        ifnull(ATTRIBUTE1,'') as ATTRIBUTE1,
        ifnull(ATTRIBUTE2,'') as ATTRIBUTE2,
        ifnull(ATTRIBUTE3,'') as ATTRIBUTE3,
        ifnull(ATTRIBUTE4,'') as ATTRIBUTE4,
        ifnull(ATTRIBUTE5,'') as ATTRIBUTE5,
        ifnull(ATTRIBUTE6,'') as ATTRIBUTE6,
        ifnull(ATTRIBUTE7,'') as ATTRIBUTE7,
        ifnull(ATTRIBUTE8,'') as ATTRIBUTE8,
        ifnull(ATTRIBUTE9,'') as ATTRIBUTE9,
        ifnull(ATTRIBUTE10,'') as ATTRIBUTE10,
        ifnull( DATE_FORMAT(ACTIVE_START_DATE, '%Y-%m-%d'),'') as effetiveStartDate,
        ifnull(DATE_FORMAT(ACTIVE_END_DATE, '%Y-%m-%d'),'') as effetiveEndDate
        FROM
            EHRCUC_POS_POSDES
       WHERE 1 = 1
        <if test="posdesId !=null and posdesId != ''">
            AND POSDES_ID=#{posdesId}
        </if>

    </select>

    <select id="searchKeyMap"  resultType="java.util.Map">
       SELECT DISTINCT
        ifnull(EPE.ELEMENT_ID,'') as keyRespId,
        ifnull(EPV.MNAME,'') as mname,
        ifnull(EPV.MID,'') as mid,
        ifnull(EPE.ELEMENT_NAME,'') as keyRespName,
        ifnull(EPPK.ORDER_NUM,'') as orderNum
		  FROM EHRCUC_POS_ELEMENT        EPE,
		       EHRCUC_POS_POSDES_KEYRESP EPPK,
		       EHRCUC_POS_POSDES         EPP,
		       EHRCUC_POS_TREE_V        EPV
		 WHERE 1 = 1
		   AND EPP.RELATION_ID = EPPK.RELATION_ID
		   AND EPPK.KEYRESP_ID = EPE.ELEMENT_ID
		   AND EPV.KID = EPPK.KEYRESP_ID
        <if test="posdesId !=null and posdesId != ''">
            AND POSDES_ID=#{posdesId}
        </if>
    </select>



</mapper>
