<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chinaunicom.duty.dao.PosVerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chinaunicom.duty.entity.PosVer">
        <id column="VERSION_ID" property="versionId" />
        <result column="VERSION_NAME" property="versionName" />
        <result column="VERSION_CATE" property="versionCate" />
        <result column="REFERENCE_ID" property="referenceId" />
        <result column="EFFETIVE_START_DATE" property="effetiveStartDate" />
        <result column="EFFETIVE_END_DATE" property="effetiveEndDate" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATION_DATE" property="creationDate" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" />
        <result column="ATTRIBUTE1" property="attribute1" />
        <result column="ATTRIBUTE2" property="attribute2" />
        <result column="ATTRIBUTE3" property="attribute3" />
        <result column="ATTRIBUTE4" property="attribute4" />
        <result column="ATTRIBUTE5" property="attribute5" />
        <result column="ATTRIBUTE6" property="attribute6" />
        <result column="ATTRIBUTE7" property="attribute7" />
        <result column="ATTRIBUTE8" property="attribute8" />
        <result column="ATTRIBUTE9" property="attribute9" />
        <result column="ATTRIBUTE10" property="attribute10" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        VERSION_ID, VERSION_NAME, VERSION_CATE, REFERENCE_ID, EFFETIVE_START_DATE, EFFETIVE_END_DATE, CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10
    </sql>
  	
  	<select id="getVersion"  resultMap="BaseResultMap">
		SELECT EPV.VERSION_ID, 
				   EPV.VERSION_NAME,
				   DATE_FORMAT(EPV.EFFETIVE_START_DATE,'%Y-%m-%d') as EFFETIVE_START_DATE
			  FROM EHRCUC_POS_VER EPV
			 WHERE EPV.VERSION_CATE = 'P'
			   AND DATE_FORMAT(sysdate(), '%Y-%m-%d %H:%i:%S') BETWEEN EPV.EFFETIVE_START_DATE AND
			       DATE_FORMAT(IFNULL(EPV.EFFETIVE_END_DATE,date_sub(sysdate(), interval -1 day)),'%Y-%m-%d %H:%i:%S')
	</select>
	
	<select id="getVersionList"  resultMap="BaseResultMap">
			SELECT EPV.VERSION_ID as versionId, 
				   EPV.VERSION_NAME as versionName
			  FROM EHRCUC_POS_VER EPV
			 WHERE EPV.VERSION_CATE = 'P'
			 order by EPV.VERSION_ID desc
	</select>
</mapper>
